In [1]:
x = 5
y = 2

x+y

7

Hello this my first example

In [ ]:
for i in range (0,40):
    print ("A/a {0}".format(i))

In [5]:
def defCallMyNme (myname ):
    """The method's prints my name"""
    print ("Hello", myname)
    return

In [ ]:
defCallMyNme()

# title 
## major headings 
### subheadings 
#### 4th level subheadings

Bold: __string__ or **string** Italic: _string_ or *string*
new line <br>
Horizontal lines: Use three asterisks: ***

In [8]:
!pwd

/Users/gekko/PhD/pydata-meetups/foo/foo_env

In [9]:
%%bash
mkdir foo1
touch foo1/yolo

In [11]:
!ls

Hello PyData Meetup.ipynb foo1                      lib
bin                       include                   pyvenv.cfg

In [13]:
from newspaper import Article
url = 'https://techcrunch.com/2018/04/16/coinbase-buys-earn-com-and-makes-ceo-balaji-srinivasan-its-first-cto/'

In [ ]:
article = Article(url)
article.download()

article.parse()
article.text

In [15]:
article.nlp()
article.keywords

['balaji',
 'srinivasan',
 'andreessen',
 'buys',
 'blockchain',
 'makes',
 'ceo',
 'earncom',
 'million',
 'horowitz',
 'coinbase',
 'company',
 'told',
 'deal',
 'cto']

In [16]:
article.summary

'In addition, Coinbase has appointed Earn.com co-founder and CEO Balaji Srinivasan as its first CTO, while the rest of the team will transition over, too.\nThe deal doesn’t come as a complete surprise as Coindesk reported last month that Coinbase and Earn.com were in talks over a deal.\n(Andreessen Horowitz is also an investor in Coinbase, it should be noted.)\n“With Coinbase’s user base and distribution muscle, I think it could hit $100 million in GMV over the next 12-18 months,” Srinivasan told TechCrunch.\nSrinivasan will also continue to be involved with Andreessen Horowitz, and at Coinbase he’ll be part of the company’s recently announced investment arm, Coinbase Ventures.'

In [17]:
import pandas as pd
df = pd.DataFrame(article.keywords)
df

             0
0       balaji
1   srinivasan
2   andreessen
3         buys
4   blockchain
5        makes
6          ceo
7      earncom
8      million
9     horowitz
10    coinbase
11     company
12        told
13        deal
14         cto